<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">


{% load widget_tweaks %}
{% block content %}
{% include "insurance/navbar.html" %}
  <br><br><br><br>
 <style>
        .container{
        margin: auto;
        width: 500px;
        padding: 10px;
        }
        h1{
        text-align:center
        }
        .form-group{
        display: flex;
        align-items: center;
        justify-content: center;
        }
    </style>

<div class="container">
  <h1>Claim Form</h1>
  <form method="post" style="text-align: center">
    {% csrf_token %}
        <div class="form-group">
              <label for="{{ form.first_name.id_for_label }}">First Name:</label>
            {{ form.first_name }}
            <label for="{{ form.second_name.id_for_label }}">Second Name:</label>
            {{ form.second_name }}
    </div>
    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">Enter Email:</label>
        {{ form.email }}
    </div>
       <div class="form-group">
           <label for="{{ form.purchase_date.id_for_label }}">Purchase Date:</label>
        {{ form.purchase_date }}
    </div>
      <div class="form-group">
          <label for="{{ form.policy_type.id_for_label }}">Policy:</label>
        {{ form.policy_type }}
    </div>
      <div class="form-group">
          <label for="{{ form.claim_details.id_for_label }}">Claim Details:</label>
        {{ form.claim_details }}
    </div>
       <div class="form-group">
           <label for="{{ form.amount.id_for_label }}">Amount:</label>
        {{ form.amount }}
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
  </form>
</div>
{% endblock %}
{% include "insurance/footer.html" %}
</html>